* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Inconsolata", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body{
    background-image: linear-gradient(to bottom right, rgb(253, 157, 92), antiquewhite);
  } 
 /* Localização */
.localizacao{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    }
    
    .localizacao1{
    width: 600px;
    height: 300px;
    align-items: center;
    padding: 2em 1em 0 1em;
    }
    .where{
      letter-spacing: 5px;
      background-color: #000;
      color: #ebebe5;
      display: inline-block;
      font-weight: 400;
      margin: 5px 0;
      font-size: 20px;
      padding: 8px 50px;
    }
    .form{
        width: auto;
        height: 200px;
        background: #ebebe5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
        }
        input[type="datetime-local"]{
          height: 50px;
          width: 96%;
        }
        input[type="number"]{
          height: 50px;
          width: 96%;
        }
        input[type="text"]{
          height: 50px;
          width: 96%;
        }
        
          .fyi{
            background-color: #000;
            color: #fff;
            display: inline-block;
            padding: 5px;
            text-align: center;
          }
        
        /*Rodapé*/